footer {
    width: 100vw;
    position: sticky;
    top: 100vh;
    overflow-x: hidden;
}

footer p {
    margin: 0px;
    color: var(--text-light);
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
    line-height: 1.5;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

iframe {
    border: 0px;
}

#footer-grass-top {
    width: 100vw;
    height: 75px;
    background-image: url("toughroots.co.nz/img/grass.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
}

#footer-main {
    background-color: var(--grass-colour);
    width: 100vw;
    padding-top: 80px;
}

#footer-main-container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 1px;
    position: relative;
}

#footer-main-grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 25px;
    padding-bottom: 25px;
    width: 100%;
}

#footer-secondary-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.footer-grid-element {
    width: 100%;
    justify-content: space-around;
}

#footer-logo {
    height: 90px;
}

#footer-logo a, #footer-logo img {
    height: 100%;
    filter: brightness(0) invert(1);
}

#footer-social-media-container img {
    filter: brightness(0) invert(1);
    width: 35px;
    height: 35px;
}

#footer-copyright p {
    margin-top: 25px;
    margin-bottom: 24px;
}

#footer-contact .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  text-decoration: none;
  color: var(--text-light);
}

.footer-grid-element h2 {
    color: var(--text-light);
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
    line-height: 1.5;
}

.footer-contact-element {
    display: flex;
    gap: 10px;
}

#footer-links p:hover, #footer-contact p:hover {
    padding-left: 5px;
}

#footer-bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#snipt {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
    #footer-main-grid {
        grid-template-columns: 1fr;
    }

    #footer-main-container {
        max-width: calc(100vw - 130px);
    }
}

@media screen and (max-width: 650px) {
    #footer-main-grid {
        justify-content: center;
        text-align: center;
    }

    #footer-secondary-grid {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        justify-content: center;
        text-align: center;
    }

    #footer-main-container {
        max-width: calc(100vw - 100px);
    }

    #footer-copyright {
        text-align: center;
    }

    .footer-contact-element {
        justify-content: center;
        align-items: center;
    }
}
